# Python & Virtual Environments
.venv/
backend/.venv/
__pycache__/
*.pyc
backend/__pycache__/
backend/*.pyc
backend/.pytest_cache/
.pytest_cache/

# Databases & Secrets
*.db
backend/*.db
.env
backend/.env
frontend/.env
*.env.local

# Frontend
node_modules/
frontend/node_modules/
dist/
frontend/dist/
.DS_Store